<h1>This is the chef index page</h1>
<hr>
<div class="menu">
  <%= link_to "Add A Chef", new_chef_path, class: "menu_item"%>
</div>
<hr>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 9660e726a287442e6f93750bfc7c6a4cb36b580e

<% @chefs.each do |chef| %>
<p><%= link_to chef.name, chef_path(chef) %></p>
<% end %>
<<<<<<< HEAD
=======
<div class="row">
  <% @chefs.each do |chef| %>
  <div class="card">
    <div class="card-description">
      <h4> <%= link_to chef.name, chef_path(chef) %> </h4>
    </div>
  </div>

  <% end %>
</div>
>>>>>>> 27a7f38524dc57b2976f861ca33ad7d28ee8eca7
=======
>>>>>>> 9660e726a287442e6f93750bfc7c6a4cb36b580e

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

