<div class="container-chef-show">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <%#= image_tag @chef.photo %>
        <h2><%= @chef.name %> </h2>
        <%= button_to "Book This Chef", chef_bookings_path(@chef)%>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>5/5</h3>
        <p>Rating</p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>187</h3>
        <p>Meals Total</p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>22</h3>
        <p>Dishes</p>
      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <h3>More about this chef</h3>
        <p class="text-justify">
          <%= @chef.description %>
        </p>
      </div>
    </div>
  </div>
</div>
















