<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div> -->

<div class="footer">
    <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
                <div class="col-xs-6 text-right">
                    <p>Powered by <i class="fab fa-twitter" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; © 2017</p>
                </div>
            </div>
        </div>
  </div>