<h1>This is the chef index page</h1>
<hr>
<div class="menu">
  <%= link_to "Add A Chef", new_chef_path, class: "menu_item"%>
</div>
<hr>
<div class="row">
  <% @chefs.each do |chef| %>
  <div class="card">
    <div class="card-description">
      <h4> <%= link_to chef.name, chef_path(chef) %> </h4>
    </div>
  </div>

  <% end %>
</div>




