
<div class="body-background">
  <div class="banner">
    <div class="banner-content">
      <h1 class="website_name">Chefista</h1>
      <h2>Book a classy dinner at home</h2>
      <p>Forget the hassle, enjoy the experience</p>
      <%= link_to "Find me a chef!", chefs_path, class: "button-chef"%>
    </div>
  </div>
</div>
