  <div class="banner">
    <div class="banner-content">
      <h1>Chefista</h1>
      <h1>Book a classy diner at your own place</h1>
      <p>Carefree, hassle-less and cheaper</p>
      <a class="btn btn-primary btn-lg">Look for a chef now</a>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>

  