<!-- <html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="./style.css"> -->
<div class="body-background">
  <div class="banner">
    <div class="banner-content">
      <h1 class="website_name">Chefista</h1>
      <h2>Book a classy dinner at home</h2>
      <p>Forget the hassle, enjoy the experience</p>
      <%= link_to "Find me a chef!", chefs_path, class: "button-chef"%>
    </div>
  </div>
</div>

</div>
</html>