.card {
  height: 175px;
  // width: 250px;
  background-position: center;
  background-color: white;
  background-image: image-url("tomato.jpeg");
  background-size: cover;
  // border-radius: 5px;
  position: relative;
  padding: 10px;
  // margin: 0px;
  opacity: 0.8;
}
.card:hover {
  opacity: 1;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h4 {
  font-size: 20px;
  color: white;
  padding: 10px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  padding-left: 10px;
}
// .chef-details {
//   display: grid;
// }
// .chef-name {
//   grid-row: 3 / span 2;
//   grid-column: 1 / span 2;
// }
.chef-name a {
  color: #333333;
  font-size: 18px;
}
.chef-name p {
  font-size: 12px;
  margin-bottom: 20px;
}
.price p{
  font-size: 13px;
  // grid-row: 3 / span 1;
  // grid-column:
}
.price {
  margin-top: 30px;
  padding-right: 10px;
  text-align: right;
}
